.header {
  padding: 1rem;
  background-color: hsl(207, 100%, 89%);

  display: flex;
  align-items: center;
  gap: 1em;
  height: 5em;
}

.header img {
  display: block;
  width: 3em;
  height: 3em;
}

.header p {
  font-size: 1.5em;
  font-weight: 600;
}
